@import './app/Variables.scss';
@import './app/Cart.scss';
@import './app/NavBar.scss';


.page-list-cart-container {
    display: flex;
    flex: 1 0;
    flex-direction: row;
}

.pokemon-list-container {
    display: flex;
    flex: 4 0;
    flex-direction: column;
    max-height: $page-height;
    overflow-y: scroll;
}


